Repository planetlabs/planet-client-python, pull requests merged in 2022-05, with the labels that each got.

#468 Removed duplicated line.
  planet/cli/cli.py
Labels: bug, CLI/SDK Interface

#465 Always use installed code, not editable installs, for nox test session
  .github/workflows/test.yml
  CONTRIBUTING.md
  noxfile.py
  setup.cfg
Labels: tests

#469 Refactored quiet and verbosity tests
  tests/unit/test_cli_main.py
Labels: CLI/SDK Interface

#478 Removed unused pytest fixture
  tests/unit/test_cli_main.py
Labels: better-testing, CLI/SDK Interface

#484 Updated code in docs/guide.md
  docs/guide.md
Labels: CLI/SDK Interface

#464 Update list order interface, change limit behaviour
  planet/cli/orders.py
  planet/clients/orders.py
  tests/integration/test_orders_api.py
  tests/integration/test_orders_cli.py
Labels: CLI/SDK Interface

#485 Better error handling in OrdersClient
  planet/clients/orders.py
  tests/integration/test_orders_api.py
Labels: enhancement, error handling, CLI/SDK Interface

#526 Fixed invalid JSON file in guide
  docs/guide.md
Labels: documentation, CLI/SDK Interface
