Repository planetlabs/planet-client-python, pull requests merged in 2022-06, with the labels that each got.

#571 Begin to extract the skeleton of a SubscriptionsClient from CLI
  planet/cli/subscriptions.py
  tests/integration/test_subscriptions_cli.py
Labels: enhancement

#579 fix checksum validation bug, refactor checksum validation
  docs/guide.md
  planet/cli/orders.py
  planet/clients/orders.py
  tests/integration/test_orders_api.py
  tests/integration/test_orders_cli.py
Labels: bug, CLI/SDK Interface

#519 Update requesting orders
  README.md
  planet/cli/orders.py
  tests/integration/test_orders_cli.py
Labels: CLI/SDK Interface
