Repository planetlabs/planet-client-python, pull requests merged in 2023-03, with the labels that each got.

#881 Run Session class tests in an event loop
  CHANGES.txt
  tests/unit/test_session.py
Labels: bug, tests

#892 Fixed broken Data and Orders CLI examples
  docs/cli/cli-intro.md
  docs/cli/cli-orders.md
  docs/cli/cli-tips-tricks.md
Labels: documentation

#896 Removed checksum argument from download_order
  planet/clients/orders.py
Labels: bug, orders api

#900 Update Subscriptions CLI describe function naming
  planet/cli/subscriptions.py
  tests/integration/test_subscriptions_api.py
  tests/integration/test_subscriptions_cli.py
Labels: bug

#902 Allow item types specified to be case insensitive in Data API and CLI
  planet/clients/data.py
Labels: bug, data api
